* {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    padding: 5px;
}

h1 {
    text-align: center;
    color: #1473e6;
    font-weight: bold;
}

nav > ul {
    display: flex;
    justify-content: center;
}
nav > ul > li {
    list-style: none;
}
li > a {
    text-decoration: none;
    margin: 5px;
    background: #1473e6;
    border: 2px solid #1473e6;
    color: white;
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    user-select: none;
    min-width: 100px;
    text-align: center;
}

li > a:hover {
    background-color: white;
    color: #1473e6;
    cursor: pointer;
}

@import './components/card/card';
@import './components/container/container';
@import './components/form/button';
@import './components/form/form';
@import './components/form/modal';
@import './components/section/section';